body{
    background:#111;
    color:white;
    font-family:Arial;
}


#users{
    display:flex;
    flex-wrap:wrap;
    gap:20px;
}


.card{

    background:#1c1c1c;
    padding:20px;
    width:220px;
    border-radius:15px;

    transition:.3s;

}


.card:hover{

    transform:translateY(-8px);
    box-shadow:0 0 20px #555;

}


.card img{

    width:150px;
    border-radius:50%;

}


span{

color:#4da6ff;

}